#!/bin/bash
# config/config.sh
# Hauptverzeichnis für alle Backups
BACKUP_BASE_DIR="/home/NAME/backup"

###########NICHT ÄNDERN!######################
RELATIVE_BACKUP_PATH=${BACKUP_BASE_DIR#/home/}
##############################################

# Pfad zur Log-Datei
LOG_FILE="$BACKUP_BASE_DIR/backup.log"
RESTORE_LOG_FILE="$BACKUP_BASE_DIR/restore.log"

# Docker-spezifische Pfade
DOCKER_DIR="/etc/docker"
DOCKER_VOLUMES_DIR="/var/lib/docker/volumes"
HOME_DIR="/home"

# Optional: HOME-Verzeichnis Backup aktivieren/deaktivieren
BACKUP_HOME=false

# Optional: Ausschlüsse vom Backup
# "$RELATIVE_BACKUP_PATH" NICHT ändern!
EXCLUDE_DIRS=(
    "$RELATIVE_BACKUP_PATH"
    "NAME/Folder"
)

# Backup-Retention-Einstellungen
RETENTION_DAILY=7
RETENTION_WEEKLY=4
RETENTION_MONTHLY=3

# Verschlüsselungs-Einstellungen
ENABLE_ENCRYPTION=false

########################################
########### DON´T CHANGE ###############
SKIP_GENERAL_RESTORE=false
########################################
