#!/bin/bash
# config/config.sh
# Hauptverzeichnis für alle Backups
BACKUP_BASE_DIR="/home/pi/backup"

###########NICHT ÄNDERN!######################
RELATIVE_BACKUP_PATH=${BACKUP_BASE_DIR#/home/}
##############################################

# Pfad zur Log-Datei
LOG_FILE="$BACKUP_BASE_DIR/backup.log"
RESTORE_LOG_FILE="$BACKUP_BASE_DIR/restore.log"

# Docker-spezifische Pfade
DOCKER_DIR="/etc/docker"
DOCKER_VOLUMES_DIR="/var/lib/docker/volumes"
HOME_DIR="/home"

# Optional: HOME-Verzeichnis Backup aktivieren/deaktivieren
BACKUP_HOME=true

# Optional: Ausschlüsse vom Backup
# "$RELATIVE_BACKUP_PATH" NICHT ändern!
EXCLUDE_DIRS=(
    "$RELATIVE_BACKUP_PATH"
    "pi/michnicht"
)

# Konfiguration für Aufbewahrung
DAILY_BACKUPS=7    # Letzte 7 tägliche Backups behalten
WEEKLY_BACKUPS=4   # Letzte 4 wöchentliche Backups behalten
MONTHLY_BACKUPS=3  # Letzte 3 monatliche Backups behalten

# Verschlüsselungs-Einstellungen
ENABLE_ENCRYPTION=false

########################################
########### DON´T CHANGE ###############
SKIP_GENERAL_RESTORE=false
########################################
